:root {
    --purple: rgba(84, 13, 110, 1);
    --pink: rgba(238, 66, 102, 1);
    --yellow: rgba(255, 210, 63, 1);
    --teal: rgba(59, 206, 172, 1);
    --green: rgba(14, 173, 105, 1);
    --white: rgba(239, 239, 208, 1);
  }
  